extends layout

block content
  div(class="wrapper")
    h1= title
    p #{message}
    div(class="push")

  footer(class="footer") More information on 
    a(href='https://github.com/vhs/itlb') GitHub
